- content_for :javascript_includes do
  =# javascript_include_tag "cashimpactindex.js"

#map-canvas
  %img{:id => "gmapStatic", :src => 'http://maps.googleapis.com/maps/api/staticmap?center=SW61SH,London&zoom=14&size=800x500&maptype=roadmap&sensor=false', :width => 698, :height => 500}
#hospital-list
  .header
    %a.sort-option{:href=>'#'} Agony
    %a.sort-option{:href=>'#'} Distance
    %a.sort-option{:href=>'#'} Wait Time
  - @hospitals.each do |h|
    .list-item
      .number= h.id
      .details
        .name= h.name
        .distance= "(#{(h.distance/1000).round(1)}km)"
        .clear
        - if h.current_delay.nil?
          .delay= "(No delay information available)"
        - else
          .delay= "(#{h.current_delay.minutes}min)"
        .clear
        %a.more-info-link{:href=>"#{h.website_url}"} More info
      .clear
.clear

