%p
  =alert
  - if current_user
    = "Hello #{current_user.email}  ("
    = link_to 'Not you?', destroy_user_session_path, :method => :delete
    = ")"
  - else
    = link_to 'Sign in', new_user_session_path