!!! 5

%html
  %head
    %title E-Mergency
    = stylesheet_link_tag "resets/resets"
    = stylesheet_link_tag "jquery-ui/ui-smoothness/jquery-ui-1.8.13.custom"
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = javascript_include_tag "application"
    = yield :javascript_includes
    = csrf_meta_tag

  %body
    %p.notice=notice
    %p.alert=alert
    - if current_user
      = "Hello #{current_user.email}  ("
      = link_to 'Not you?', destroy_user_session_path, :method => :delete
      = ")"
    - else
      = link_to 'Sign in', new_user_session_path

    #wrapper
      #header
        .content
          E-Mergency

      #body
        .content
          = yield

    #footer
      .content
        #copyright
          &copy;
          = Time.new.year
          FiftyFiftyImpact
